h1{
	color: red;
}
#head-id{
	color: blue;
}
.head-class{
	color: yellow;
}
#box1{
	color: red;
}
#box2{
	color: blue;
}
#box3{
	color: yellow;
}
.box{
	width: 500px;
	height: 100PX;
	background-color: lightblue;
	border: 1px solid red;
	margin-top: 10px;
	background-image: url("download.jpeg");
}
.backg{
	background-image: url("download.jpeg");
}