#all{ 
	width:980px; 
	height:100%; 
	margin:0px auto; 
	position:relative; 
}
#header{ 
	background-color:#58D3F7; 
	height:100px; 
	padding:8px; 
	text-align: center;
	margin: 10px;
}
#left{ 
	background-color:#58FAF4; 
	height:100%; 
	width:20%; 
	position:absolute;
	margin: 10px
}
#content{ 
	position:absolute; 
	margin:0 250px 0 200px; 
	padding:8px; }
#right{ 
	background-color:#8080ec; 
	height:100%; width:75%; 
	position:absolute; 
	right:0;
	margin: 10px;
}
#footer{ 
	position:absolute; 
	background-color:#808080; 
	height:100px; 
	width: 100%;
	text-align:center; 
	bottom:-250px; 
	width:100%;
	margin: 10px;
}
.xxx{
	margin: 2px;
}